<div class="App">
  <div class="title">
    <h1>Image to Text Converter</h1>
    <p>
      Online image to text converter to extract text from images. Upload your
      photo and get text instantly.
    </p>
  </div>

  <div class="dropzone">
    <img src="assets/tool-box-image.svg" alt="" />
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="upload">Browse for Image</label>
    <input
      type="file"
      id="upload"
      class="file"
      accept="image/*"
      (change)="handleChangeImage($event)"
    />
  </div>

  <div class="result">
    @if (selectedImage) {
    <div class="box-image">
      <img [src]="getImageUrl(selectedImage)" alt="" />
    </div>
    } @if (textResult) {
    <div class="box-p">
      <div class="btn">
        <button (click)="copyText(paragraphToCopy.innerText)" class="btn">
          <i class="fa-regular fa-copy"></i>
        </button>
      </div>
      <p #paragraphToCopy>{{ textResult }}</p>
    </div>
    }
  </div>
</div>
